@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
}

a {
    text-decoration: none;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}

nav {
    background-color: #000000;
    justify-content: space-between;
    padding: 10px;

}

nav .nav-left {
    margin-left: 30px;
}

.nav-left h1 {
    color: #EC368D;
    margin-left: 5px;
    font-size: 34px;
    cursor: pointer;
}


.nav-middle a {
    color: #fff;
    margin-left: 20px;
    font-size: 17px;
}

.nav-middle a:hover {
    color: #EC368D;
}

.nav-right input {
    border: 0;
    outline: 0;
    margin-right: 5px;
    padding: 5px;
    border-radius: 15px;
}

.nav-right-items {
    margin: 0 20px;
}

.nav-right-items a {
    margin-left: 20px;
}


/* -----main----- */

#main {
    background-color: #EECCD7;
}

.container {
    margin: 0 30px;
    justify-content: space-between;
    height: 90vh;

}

.container-left {
    width: 40%;
}

.container-left img {
    margin-left: 20%;
}

.container-left-items {
    margin-left: 10%;
}

.container-left-items h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 15px;
}

.container-left-items p {
    color: #727272;
    margin-bottom: 10px;
}

.container-left-items button {
    background: linear-gradient(100deg, rgba(236, 54, 185, 0.97), rgba(215, 40, 40, 1));
    color: aliceblue;
    border: none;
    padding: 10px 60px;
    margin: 30px 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

.container-left-items button:hover {
    background-color: rgb(3, 3, 3);
    transition-duration: 0.4s;
}

.container-right {
    width: 50%;
    background-image: url(images/Group\ 131.png);

}

.container-right img {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
}


/* --------featured Products------ */


#Featured-Products{
    padding: 30px;
}

.featured-text {
    text-align: center;

}

.featured-text h2 {
    color: #1A0B5B;
    font-size: 42px;
    margin: 20px 0;
}

.featured-products {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-products-left {
    background-color: #FECEDE;
    border-radius: 40px;
    text-align: center;
    width: 22%;
    margin-left: 30px;
}


.featured-products-left p{
    margin-bottom: 20px;
    font-size: larger;
}

.featured-products-middle {
    background-color: #FECEDE;
    border-radius: 40px;
    text-align: center;
     width: 22%;
      margin-left: 30px;
}


.featured-products-middle p {
    margin-bottom: 20px;
    font-size: larger;
}

.featured-products-right {
    background-color: #FECEDE;
    border-radius: 40px;
    text-align: center;
    width: 22%;
     margin-left: 30px;
    
}

.featured-products-right p {
    margin-bottom: 20px;
    font-size: larger;
}

.lower-image{
    width: 100%;
    text-align: center;
}